* {
    padding: 0%;
    margin: auto;
}
/* top Nav bar */
.Navbar {
    display: flex;
    height: 97px;
    width: auto;
    justify-content: center;
    justify-items: center;
}

.navtopleft{
    display: flex;
    flex-direction: row;
    ;
}

.navright_top{
    display: flex;
    flex-direction: row;
}

.navright_bottom{
    height: 20px;
    display: flex;
    width: auto;
    margin-bottom: 20px;
}
.navbottomright{
    display: flex;
    flex-direction: row;
}

.account_type{
    margin-right: 100px;
    margin-top: 20px;
    justify-content: space-between;
}
.btn{
width: 150px;
height: auto;
}

/* body of page */
.midbar {
    display: flex;
    flex-direction: column;
    height: 780px;
    width: auto;
    background-color: rgb(138, 94, 1);
    
}

.midtop {
    height: 100px;
    width: auto;
    
    background-color: black;
    color: white;
}

.mid_center {
    background-image: url("/Investment_bank/flask_app/static/img/banner_skydown.jpg");
    display: flex;
    flex-direction: row;
    background-color: #cccccc;
    height: 360px;
    width: auto;
    /* background-color: black; */
}
.leftoflogin{
    height: auto;
    width: ;
}

.login{

}
.midbottom {
height: 50px;
width: auto;
}