<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Homepage/ login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/home_structure.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div class="Navbar">
        <div class="navleft">
            <div class="navtopleft">
                <div class="banking">
                    <a href="">Banking</a>
                </div>
                <div class="stockplan">
                    <a href="">Stock Plans</a>
                </div>
            </div>
            <div class="navbottomleft">
                Bank
            </div>

        </div>
        <div class="navtopmid">
        </div>
        <div class="navbottommid">

        </div>
        <div class="containerright">
            <div class="navtopright">
                <div class="navright_top">
                    <div class="refer">
                        <a href="">Refer a Friend</a>
                    </div>
                    <div class="Contact">
                        <a href="">Contact Us</a>
                    </div>
                    <div class=" log_in">
                        <a href="">Login</a>
                    </div>
                </div>
                <div class="navright_bottom">
                    <div class="navbottomright">
                        <div class="account_type">
                            <a href="">Account types</a>
                        </div>
                        <div class="account_type">
                            <a href="">Investment Choices</a>
                        </div>
                        <div class="account_type">
                            <a href="">Investment Help</a>
                        </div>
                        <form action="/" method="">
                            <button type="button" class="btn btn-primary">Open an account</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="midbar">
        <!-- <img src="/Investment_bank/flask_app/static/img/banner_skydown.jpg"> -->
        <div class="midtop">
            <h4>Online Support is currenlty down</h4>
        </div>
        <div class="mid_center">
            <div class="leftoflogin">
                test
            </div>
            <div class="login">
                user lo
            </div>
        </div>
        <div class="midbottom">
            DOW
        </div>
    </div>

</body>

</html>